/.idea
/.svn
/etc
/nb-configuration.xml
/vodafone.iml
/vodafone.eml
*\build
*\bin
*\nb-configuration.xml
*\nbactions.xml
*/target
*/build
*/bin
*/nb-configuration.xml
*/nbactions.xml
*.ear
*.jar 
*.class
*.war 
*.classpath
*.project
*\.settings
*/.settings
*.log
.log
*.log.*
*/.metadata
*/etc
*/.idea